doctype html
html
    head 
        title Calculator
        link(href="/styles/calculator.css" rel="stylesheet" type="text/css" media="screen")
    h2(align="center") Welcome to the calculator
    
    #Output
    form#text
        input#texts.my_text(type="text")
    #One
    form#form.box.red
        input#1.button(type="button" value="1")
        input#2.button(type="button" value="2")
        input#3.button(type="button" value="3")
    #two
    form#form.box.red
        input#4.button(type="button" value="4")
        input#5.button(type="button" value="5")
        input#6.button(type="button" value="6")
    #three
    form#form.box.red
        input#7.button(type="button" value="7")
        input#8.button(type="button" value="8")  
        input#9.button(type="button" value="9")
    #Operations
    form#form.box.red
        input#plus.button(type="button" value="+") 
        input#minus.button(type="button" value="-") 
        input#multiply.button(type="button" value="*") 
        input#divide.button(type="button" value="/") 
    #Equals
    form#form.box.red 
        input#equal(type="button" value="=")
    script(src="../js/calculator.js")


