doctyple html
html
    head 
        title Calculator
        link(href="/styles/style.css" rel="stylesheet" type="text/css" media="screen")
    h1(align="center") Welcome to the calculator
    form#calculator